#bottom-controls {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 5px;
    overflow-x: auto;
}

#bottom-controls.welcome {
    width: 1200px;
    justify-self: center;
    overflow: hidden;
}

#bottom-controls.fullscreen {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 8%;
    right: 8%;
    z-index: 5;
    overflow-y: auto;
}

.bottom-container.fullscreen {
    flex-direction: column;
    row-gap: 20px;
    align-items: stretch;
}

#bottom-controls.fullscreen .bottom-item {
    overflow-y: revert;
}

#bottom-controls-fullscreen-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #0009;
}

.bottom-container {
    padding: 10px;
    height: 100%;
    display: flex;
    column-gap: 20px;
}

.bottom-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
    min-width: 250px;
}

.bottom-item > * {
    margin: 5px;
}

.bottom-item > textarea {
    height: 100%;
    max-width: 95%;
}

.bottom-item.unsaved {
    box-shadow: 0px 0px 10px 3px #2652c7aa !important;
    transition: box-shadow 0.3s ease-in-out;
}

.bottom-item-title {
    max-width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px #0005;
    border-radius: 15px;
    padding: 3px 5px;
    margin-bottom: 8px;
}

.list-item > span {
    margin: 5px;
}

/* Toggler from https://codepen.io/alvarotrigo/pen/wvyvjva */

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type='checkbox'] {
    display: none;
}

.toggler-wrapper input[type='checkbox']:checked + .toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: var(--background-darker);
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

input[type='checkbox']:checked + .toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

input[type='checkbox']:checked + .toggler-slider .toggler-knob:after {
    content: 'true';
}

.toggler-wrapper.center {
    align-self: center;
}

.toggler-wrapper .toggler-knob {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
    box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

.toggler-wrapper .toggler-knob:after {
    content: 'false';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 65%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
    color: var(--background);
}
