#sidebar {
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    user-select: none;
}

#sidebar-top {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebar-top > div {
    display: flex;
    flex-direction: column;
}

#sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: sticky;
    right: -5px;
    background-color: var(--background);
    padding: 10px;
    border-left: 1px solid var(--border);
}

#tutorial-steps {
    display: flex;
}

#new-task,
#tutorial-settings-button {
    background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
    #new-task,
    #tutorial-settings-button {
        background-color: #121212;
    }
}

#new-task {
    writing-mode: vertical-rl;
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    width: 150px;
    overflow: hidden;
}

.task-index {
    background-color: var(--background-darker);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
}

.task-index-selected {
    background-color: var(--background) !important;
}

.move-task {
    padding: 3px;
    margin: 0px;
    padding: 2px 7px;
}
