#sidebar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    user-select: none;
}

#sidebar-top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sidebar-top > div {
    display: flex;
    flex-direction: column;
}

#sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

#new-task,
#tutorial-settings-button {
    background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
    #new-task,
    #tutorial-settings-button {
        background-color: #121212;
    }
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.task {
    display: flex;
}

.task-index {
    background-color: var(--background-darker);
    margin: -10px 10px -10px -10px;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}
