:root {
    --border: #ccc;
    --background: #fff;
    --background-darker: #eee;
    --text: #111;
    --container-background: #ddd;
    --button-background: #ddd;
    --button-background-hover: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --border: #111;
        --background: #1a1a1a;
        --background-darker: #111;
        --text: #fff;
        --container-background: #111;
        --button-background: #111;
        --button-background-hover: #222;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text);
    background-color: var(--container-background);
}

div {
    font-size: 12px;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 175px 1fr;
    background-color: var(--container-background);
}

#container.welcome {
    grid-template-columns: 1fr calc(100vh / 2400 * 480);
}

.hidden {
    display: none !important;
}

.file-input {
    position: absolute;
    display: none;
}

h2 {
    all: unset;
    font-size: 1.1em;
    font-weight: bold;
}

button,
.round-button {
    all: unset;
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
    background-color: var(--button-background);
    display: inline-block;
    font-size: 12px;
    user-select: none;
}

button:hover,
.round-button:hover,
.sidebar-item:hover {
    background-color: var(--button-background-hover) !important;
}

.rounded-item {
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #0004;
    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    .rounded-item {
        box-shadow: 0 0 5px 1px #000a;
    }
}

.task {
    display: flex;
}

.task-index {
    background-color: var(--background-darker);
    margin: -10px 10px -10px -10px;
    padding: 10px;
}

input[type='text'] {
    all: unset;
    min-width: 20px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    background-color: var(--background-darker);
    color: var(--text);
    flex-grow: 1;
}

select {
    min-width: 20px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    font-size: 12px;
    background-color: var(--button-background);
    color: var(--text);
}

select:hover {
    background-color: var(--button-background-hover);
}

textarea {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    background-color: var(--background-darker);
    color: var(--text);
    min-width: 30px;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

summary {
    user-select: none;
    cursor: pointer;
}
