* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div {
    font-size: 12px;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 250px;
    background-color: #ddd;
}

.hidden {
    display: none !important;
}

.file-input {
    position: absolute;
    display: none;
}

h2 {
    all: unset;
    font-size: 1.1em;
    font-weight: bold;
}

button,
.round-button {
    all: unset;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
    background-color: #dddddd;
    display: inline-block;
    font-size: 12px;
    user-select: none;
}

button:hover,
.round-button:hover,
.sidebar-item:hover {
    background-color: #ccc !important;
}

.rounded-item,
.bottom-item {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px #0004;
    background-color: #fff;
}

.task {
    display: flex;
}

.task-index {
    background-color: #eee;
    margin: -10px 10px -10px -10px;
    padding: 10px;
}

input[type='text'] {
    all: unset;
    min-width: 20px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

textarea {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.flex-grow {
    flex-grow: 1;
}
